@import "./styles/variables";
@import "./styles/hamburger-menu";
@import "./styles/menu";
@import "./styles/forms";
@import "./styles/list_scroll";

// general css, global components
body,
html {
  margin: 0px;
  font-family: "Comfortaa", cursive;
  color: $text-color;
  font-size: $font-medium;
  height: 100%;
}

#root {
  height: 100%;
}

#wrapper {
  height: 100%;
}

.content {
  background: linear-gradient(to right, $main_color, #b4bad2);
  height: 100%;
  padding-top: $header-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.center {
    justify-content: center;
  }
}

header {
  text-transform: uppercase;
  font-size: $font-medium;
  background-color: $nav_color;
  position: fixed;
  height: $header-height;
  width: 100%;
}

h3 {
  align-self: flex-start;
}

h1,
h2,
h3 {
  color: $title_color;
}

.action-button {
  position: absolute;
  right: 1em;
  top: 0.5em;
  border: none;
  background-color: inherit;
  color: inherit;
  display: none;
  cursor: pointer;
}

a {
  color: $text-color;
}

.btn {
  margin: 0px 10px 0px 10px;
  float: right;
  background-color: $main-color;
  border: none;
  border-radius: 2px;
  padding: 8px 16px 8px 16px;
  cursor: pointer;
  color: $nav_color;
  font-size: $font-medium;
  &.btn-light {
    background-color: lighten($main-color, 12%);
  }
}

// inner containers
.home {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: $header-height 100px 0px 100px;
}
.info {
  padding: $header-height 50px 0px 50px;
}
.name-card {
  position: absolute;
  font-size: 4em;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: $accent_color;
  }
  &.swiped-yes {
    -webkit-animation: slide-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  &.swiped-no {
    -webkit-animation: slide-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

.card-container {
  position: relative;
  height: 300px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-arrows {
  position: absolute;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  position: absolute;
  background: rgba(255, 255, 255, 0);
  opacity: 1;
  color: $text-color;
  border: none;
  height: 60px;
  width: 60px;
  font-size: 4em;
  cursor: pointer;
  &:first-child {
    left: -60px;
  }
  &:last-child {
    right: -60px;
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100px) rotate(90deg);
    transform: translateX(100px) rotate(90deg);
    opacity: 0;
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100px) rotate(-90deg);
    transform: translateX(-100px) rotate(-90deg);
    opacity: 0;
  }
}

.code {
  font-size: 1.2em;
}

// demo / home page
#myVideo {
  width: 200px;
}

.demo-text,
.demo-video {
  margin: 30px;
}

@media screen and (max-width: 450px) {
  .demo-text {
    margin: 5px;
  }
  .content .home {
    padding: 0px 20px;
  }
  .home {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 500px) {
  .home {
    padding: $header-height 20px 0px 20px;
  }
  .nav-button {
    &:first-child {
      left: 60px;
      top: 90px;
    }
    &:last-child {
      right: 60px;
      top: 90px;
    }
  }
}

// notifications
.hint {
  text-align: right;
  font-style: italic;
  padding-left: 150px;
}

.error {
  color: red;
  font-style: italic;
  font-size: $font-small;
}
