@import "./styles/variables";
@import "./styles/hamburger-menu";
@import "./styles/menu";
@import "./styles/forms";
@import "./styles/list_scroll";

// general css, global components
body,
html {
  margin: 0px;
  font-family: "Comfortaa", cursive;
  color: white;
  font-size: $font-medium;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

#wrapper {
  height: 100%;
}

.content {
  background-color: $main_color;
  height: 100%;
  overflow: hidden;
  padding-top: $header-height;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-transform: uppercase;
  font-size: $font-medium;
  background-color: #515461;
  position: fixed;
  height: $header-height;
  width: 100%;
}

h3 {
  align-self: flex-start;
}

h1,
h2,
h3 {
  color: $title_color;
}

.action-button {
  position: absolute;
  right: 30px;
  top: 10px;
  border: none;
  background-color: inherit;
  color: inherit;
  display: none;
  cursor: pointer;
  font-size: $font-big;
  outline: none;
}

a {
  color: $main_color;
}

.btn {
  margin: 0px 10px 0px 10px;
  float: right;
  background-color: $accent_light;
  border: none;
  border-radius: 2px;
  padding: 8px 16px 8px 16px;
  cursor: pointer;
  color: $main_color;
  font-size: $font-medium;
  outline: none;
  &.btn-light {
    background-color: lighten($accent_light, 12%);
  }
}

.icon {
  outline: none;
}

// inner containers
.home {
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: $header-height 100px 0px 100px;
}
.info {
  padding: $header-height 50px 0px 50px;
}
.code {
  font-size: $font-big;
}

.card-container {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-card {
  position: absolute;
  top: 90px;
  width: 320px;
  padding: 200px 0px;
  background: linear-gradient(to bottom, $accent_light, $accent_second);
  border: 1px solid $accent_second;
  border-radius: 10px;
  text-align: center;
  font-size: $font-giant;
  color: $main_color;
}

.toggle-container {
  position: absolute;
  top: 530px;
  border: 1px solid $main_color;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  background-color: $accent_light;
  border-radius: 30px;
  //border: 1px solid white;
}

.toggle-button {
  background: white;
  border-radius: 30px;
  border: none;
  height: 40px;
  width: 50px;
  margin: 0 8px;
  background-color: $accent_second;
  outline: none;
}

.selected {
  background-color: black;
}

.indicator {
  position: absolute;
  top: 0px;
  visibility: hidden;
  //  border: 1px solid black;
  width: 320px;
  border-radius: 10px;
}

#yes {
  //  color: green;
  text-align: left;
  background-color: MediumAquamarine;
}

#no {
  //  color: red;
  text-align: right;
  background-color: $title_color;
}

.indicator-inner {
  padding: 8px 14px;
  font-size: $font-big;
  text-transform: uppercase;
}

// demo / home page
#myVideo {
  width: 200px;
}
.demo-text,
.demo-video {
  margin: 30px;
}

@media screen and (max-width: 450px) {
  .demo-text {
    margin: 5px;
  }
  .content .home {
    padding: 0px 20px;
  }
  .home {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 500px) {
  .home {
    padding: $header-height 20px 0px 20px;
  }
  .hint {
    display: none;
  }
  .nav-button {
    &:first-child {
      left: 60px;
      top: 90px;
    }
    &:last-child {
      right: 60px;
      top: 90px;
    }
  }
}

// notifications

.hint {
  margin-top: 480px;
  text-align: right;
  font-style: italic;
  padding-left: 150px;
}

.error {
  color: red;
  font-style: italic;
  font-size: $font-small;
}
