@import "./variables";

.clickable-area {
  width: 60px;
  height: 55px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-wrap {
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
#menu-icon {
  position: relative;
  height: 80%;
  width: 2em;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  font-size: $font-big;
  span {
    position: absolute;
    height: 0.2em;
    width: 2em;
    background: white;
    border-radius: 1px;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  span:nth-child(1) {
    top: 0.8em;
  }
  span:nth-child(2),
  span:nth-child(3) {
    top: 1.2em;
  }
  span:nth-child(4) {
    top: 1.6em;
  }
  &.is-open span:nth-child(1),
  &.is-open span:nth-child(4) {
    opacity: 0;
  }
  &.is-open span:nth-child(2) {
    transform: rotate(45deg);
  }
  &.is-open span:nth-child(3) {
    transform: rotate(-45deg);
  }
}
