$accent_light: #bfe2e2; //light green
$accent_second: #b4bad2;
$title_color: #f57075; // red-orange
$main_color: #373a47; //dark grey

$header-height: 60px;

$font-giant: 36px;
$font-big: 22px;
$font-medium: 16px;
$font-small: 12px;
$font-tiny: 10px;
